{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>About Us</h1>
    <p>ABC enterprises was formed to provide business, media, and nutritional services. </p>
    <p style="font-size:16px;">ABC Enterprises - founded in 2022 by Bill Musk.</p>
    <ul style="list-style: none;">
        <h3 class="nav">NAVIGATION</h3>
        <li class="nav"><A HREF="/">back to home!</A></li>
    </ul>
    <img src="/static/img_1.png">
    <br>
    <p2>Our Headquarters located in Potomac, Maryland</p2>
{% endblock %}