{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}
    <h1>ABC Enterprises</h1>
    <em>Quality, Business, Dedication - That's Our Middle Name</em>
    <br>
<br>
    <img src="/static/abc.jpeg">
    <!--an unordered list of the pages-->
    <ul class="nav" style="list-style: none;">
        <h3>NAVIGATION</h3>
        <li><A HREF="content">our services</A></li>
        <li><A HREF="about">about us</A></li>
        <li><A HREF="/table">staff directory</A></li>
        <li><A HREF="/updatePassword">update password</A></li>
        <li><A HREF="https://www.google.com">questions?</A></li>
    </ul>
{% endblock body %}}