{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}
<body>
    <div align="center">
          <div align="center" class="border">
             <div class="header">
                 <div class="flash_area">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                <div class=flashes>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                </div>
                </div>
          </div>
    </div>
    <h1>Register</h1>
        <p1>Welcome to ABC Industries. Please register using the form below.</p1>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
        </div>
    </div>
</body>
{% endblock body %}