{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}
<h1>Our Lovely Staff</h1>
<table align="center", class = "table">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Steve Davenport</td>
    <td>CEO</td>
    <td>Maryland</td>
  </tr>
  <tr>
    <td>Jenny Simmons</td>
    <td>Vice President</td>
    <td>Los Angeles</td>
  </tr>
  <tr>
    <td>Paul Bunyan</td>
    <td>President of HR</td>
    <td>Toronto</td>
  </tr>
  <tr>
    <td>Chaz Barklay</td>
    <td>Economic Advisor</td>
    <td>Maryland</td>
  </tr>
  <tr>
    <td>Ella Johnson</td>
    <td>Engineer</td>
    <td>Virginia</td>
  </tr>
  <tr>
    <td>Karen Gardner</td>
    <td>Engineer</td>
    <td>Maryland</td>
  </tr>

</table>
<img src="/static/img.png">
<ul style="list-style: none;">
    <h3 class="nav">NAVIGATION</h3>
    <li class="nav"><A HREF="/">back to home!</A></li>
</ul>
{% endblock body %}

