{% extends "layout.html" %}

{% block head %}
{% endblock %}
{% block body %}
<div align="center">
          <div align="center" class="border">
             <div class="header">
                 <div class="flash_area">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                <div class=flashes>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                </div>
                </div>
          </div>
    </div>
<form action="{{ url_for('updatePassword') }}" method="post">
          <div class="msg">{{ msg }}</div>
            <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Enter Your Old Password" class="textbox"/></br></br>
            <input id="new password" name="new password" type="password" placeholder="Enter Your New Password" class="textbox"/></br></br>
            <input type="submit" class="btn" value="Submit"></br></br>
        </form>
{% endblock body%}